body{
    
    font-family: 'Ubuntu', sans-serif;
    background-color:#fceaf3 ;
    max-width: 	1440px
}

#Nav-bar{
    background-color: #fcc6dc;
    width: 100%;
    padding: 10px;
    

}

#Nav-bar h1{
    font-size: 60px;
    margin-left: 60px;
    color: #e06287;
    font-weight: bolder;
    
    
    
}
#Nav-bar h1 a{
    
    color: #e06287;
    font-weight: bolder;
	text-decoration: none
    
}

#Nav-bar ul{
    float: right;
    font-size: 18px;
    margin-top: -45px;
    margin-right: 60px;
    font-weight: bolder
    
    
} 
#Nav-bar li {
    float:left;
    padding: 20px;
    color: #fdf8f7;
}

#Nav-bar li a{
   
    color: #fdf8f7;
    font-weight: bolder;
	text-decoration: none
   
}
#Nav-bar h1 a:hover{
   
    color: white;
    font-weight: bolder
   
}


#Nav-bar li a:hover{
   
    color: #e06287;
    font-weight: bolder
   
}




#intro {
    background-color: #ffbcd8;
        margin: 30px 150px;
        padding-bottom: 1000px;
     } 

#intro img {
    float: right;
   width: 700px;
   height:1000px;
   margin-left: 450px;
   
 
 }


 #intro p {
 
    position: absolute;
    text-align: center;
    padding: 25px;
    background-color: #fdf8f7;
    color: #e06287;
    font-weight: bolder;
    margin: 300px 800px 0 100px;
    font-size: 18px;
    line-height: 25px;
    box-shadow: 4px 4px 4px #e06287;
    
  
  }
#intro p a{
 
    color: #e06287;
    font-weight: bolder;
	text-decoration: none
   
    
  
  }
  
  #intro p a:hover{
 
    color: #ffbcd8;
    font-weight: bolder;
   
    
  
  }


#capsule{
   margin: 0 150px;
   background-color: #ffffff;
   padding-bottom: 300px;
   padding-top: 30px

}


#capsule h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #e06287;
    font-weight: bolder


}

#capsule figcaption.outfit1 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-top: 100px;
    margin-right: 150px;
    color: dimgrey;

    }
#capsule h3 a{
	color: dimgrey;

	text-decoration: none
	
}	
#capsule h3 a:hover{
    color: black;
    font-weight: bolder
}



#capsule img.outfit1 {
    width: 349px;
    height: 466px;
    margin-left: 100px;

}

#capsule h4{
    float: right;
    text-align: center;
    padding: 25px;
    background-color: #ffbcd8;
    margin-top: 40px;
    margin-right: -100px;
    font-size: 18px;
    line-height: 25px;
    box-shadow: 4px 4px 4px #e06287;

}

#capsule h4 a{
	color: #e06287;
    font-weight: bolder;
	font-size: 18px;
    line-height: 25px;
	text-decoration: none
	
}

#capsule h4 a:hover{
    color: white;
    font-weight: bolder;
	
}



#capsule h5{
    color:  #fda3c9;
    font-weight: bolder;
    font-size: 25px;
    line-height: 35px;
}

#capsule figcaption.outfit2 {
    font-size: 18px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 100px;
    color: dimgrey;

    }


#capsule img.outfit2 {
    float: right;
    width: 379px;
    height: 436px;
    margin-right: 100px;
}

#blog{
    margin: 30px 150px;
    padding-top: 40px;
    background-color:  #ffbcd8;
    padding-bottom: 120px;
 } 
 
 #blog h2{ 
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #e06287;
    font-weight: 900
}
#blog img.mk{ 
    width: 595px;
    height: 350px;
    margin-left: 20px;
    margin-top:20px;
    
} 

#blog img.fw{ 
    float: right;
    width: 243px;
    height: 510px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top:-200px;
    
} 

#blog img.rh{ 
    width: 395px;
    height: 289px;
    margin-left: 20px;
    margin-top:60px;
    
} 

#blog p.mk{ 
    position: relative;
    text-align: center;
    padding: 25px;
    margin: -20px 450px 0 400px;
    background-color:  #fdf8f7;
    font-size: 18px;
    line-height: 25px;
    color:#e06287;
    box-shadow: 4px 4px 4px #e06287;
    font-weight: bolder;
} 
#blog p.mk a{ 
   
    color:#e06287;
    font-weight: bolder;
	text-decoration: none
} 

#blog p.fw a{ 
   
    color:#e06287;
    font-weight: bolder;
	text-decoration: none
} 
#blog p.rh a{ 
   
    color:#e06287;
    font-weight: bolder;
	text-decoration: none
} 
#blog p.mk a:hover{ 
   
    color:#ffbcd8;
    font-weight: bolder;
} 

#blog p.fw a:hover{ 
   
    color:#ffbcd8;
    font-weight: bolder;
} 
#blog p.rh a:hover{ 
   
    color:#ffbcd8;
    font-weight: bolder;
} 

#blog p.fw{ 
    float: right;
    position: relative;
    text-align: center;
    padding: 25px;
    margin: -20px 20px 0 800px;
    background-color: #fdf8f7;
    font-size: 18px;
    line-height: 25px;
    color:#e06287;
    box-shadow: 4px 4px 4px #e06287;
    font-weight: bolder;
} 
#blog p.rh{ 
    position: absolute;
    text-align: center;
    padding: 25px;
    background-color: #fdf8f7;
    margin: -20px 550px 0 350px;
    font-size: 18px;
    line-height: 25px;
    color:#e06287;
    box-shadow: 4px 4px 4px #e06287;
    font-weight: bolder;
} 


#footer {
    background-color:#e06287;
    color: #fdf8f7;
    font-size: 25px;
    line-height: 35px;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 50px
}

#footer ul{
    float: right;
    margin-right: 150px;
    margin-top: -70px;
   
}

#footer li{
    float: left;
    padding: 20px;
    color: #fdf8f7;
    font-size: 50px;
    font-weight: bolder;

}

#footer h3{
 margin-left: 150px;
 margin-bottom: 30px

}
#footer h4{
    margin-left: 150px;
    margin-right: 1000px;
    border-style: solid;
    border-color: #fdf8f7;
    padding: 15px;
    border-width: 3px;
   }

#summer figcaption.outfit3 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-top: 100px;
    margin-right: 150px;
    color: dimgrey;

    }

#summer img.outfit3 {
    width: 395px;
    height: 415px;
    margin-left: 100px;
    margin-top: 20px

}
#summer figcaption.outfit4 {
    font-size: 18px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 100px;
    color: dimgrey;

    }


#summer img.outfit4 {
    float: right;
    width: 446px;
    height: 415px;
    margin-right: 100px;
    margin-top: -100px

}

#summer figcaption.outfit5 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-right: 150px;
    color: dimgrey;
    margin-top: -300px

    }

#summer img.outfit5 {
    width: 395px;
    height: 415px;
    margin-left: 100px;
    margin-top: 170px

}


#summer{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 70px;

 }

 #summer h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #e06287;
    font-weight: bolder


}
#summer h5{
    color:  #fda3c9;
    font-weight: bolder;
    font-size: 25px;
    line-height: 35px;
}

#urban figcaption.outfit6 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-top: 100px;
    margin-right: 150px;
    color: dimgrey;

    }

#urban img.outfit6 {
    width: 395px;
    height: 415px;
    margin-left: 100px;
    margin-top: 20px

}
#urban figcaption.outfit7 {
    font-size: 18px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 100px;
    color: dimgrey;

    }


#urban img.outfit7 {
    float: right;
    width: 446px;
    height: 415px;
    margin-right: 100px;
    margin-top: -100px

}

#urban figcaption.outfit8 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-right: 150px;
    color: dimgrey;
    margin-top: -300px

    }

#urban img.outfit8 {
    width: 450px;
    height: 415px;
    margin-left: 100px;
    margin-top: 170px

}


#urban{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #fcc6dc;
    padding-bottom: 70px;

 }

 #urban h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #e06287;
    font-weight: bolder


}
#urban h5{
    color:  #fdf8f7;
    font-weight: bolder;
    font-size: 25px;
    line-height: 35px;
    
}

#night figcaption.outfit9 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-top: 100px;
    margin-right: 150px;
    color: dimgrey;

    }

#night img.outfit9 {
    width: 395px;
    height: 515px;
    margin-left: 100px;
    margin-top: 20px

}
#night figcaption.outfit10 {
    font-size: 18px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 100px;
    color: dimgrey;

    }


#night img.outfit10 {
    float: right;
    width: 446px;
    height: 515px;
    margin-right: 100px;
    margin-top: -100px

}

#night figcaption.outfit11 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-right: 150px;
    color: dimgrey;
    margin-top: -300px

    }

#night img.outfit11 {
    width: 395px;
    height: 515px;
    margin-left: 100px;
    margin-top: 170px

}


#night{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 70px;

 }

 #night h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #e06287;
    font-weight: bolder


}
#night h5{
    color:  #fda3c9;
    font-weight: bolder;
    font-size: 25px;
    line-height: 35px;
}

#business figcaption.outfit12 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-top: 100px;
    margin-right: 150px;
    color: dimgrey;

    }

#business img.outfit12 {
    width: 395px;
    height: 515px;
    margin-left: 100px;
    margin-top: 20px

}
#business figcaption.outfit13 {
    font-size: 18px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 100px;
    color: dimgrey;

    }


#business img.outfit13 {
    float: right;
    width: 446px;
    height: 515px;
    margin-right: 100px;
    margin-top: -100px

}

#business figcaption.outfit14 {
    float:right;
    font-size: 18px;
    line-height: 30px;
    margin-right: 150px;
    color: dimgrey;
    margin-top: -300px

    }

#business img.outfit14 {
    width: 450px;
    height: 515px;
    margin-left: 100px;
    margin-top: 170px

}


#business{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #fcc6dc;
    padding-bottom: 70px;

 }

 #business h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #e06287;
    font-weight: bolder


}
#business h5{
    color:  #fdf8f7;
    font-weight: bolder;
    font-size: 25px;
    line-height: 35px;
    
}
#mk{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 40px;
 
 }
 
 
 #mk h2{
     text-align: center;
     font-size: 30px;
     margin-bottom: 30px;
     color: #e06287;
     font-weight: bolder;
     text-transform: uppercase;

 
 
 }

 #mk img.mk0{
    width: 1079px;
    height: 624px;
    margin-left: 30px;
    margin-bottom: 10px
    
}
#mk h3{
    font-size: 15;
    color: grey;
    margin-left: 30px;
    margin-bottom: 10px
}
#mk p{
    font-size: 18px;
    line-height: 25px;
    color: dimgrey;
    margin-left: 30px;
    text-transform: lowercase;
}

#mk img.mk1{
    width: 532px;
    height: 314px;
    margin-top: 20px;
    margin-left: 30px
    
    
}
#mk img.mk3{
    float: right;
    width: 531px;
    height: 314px;
    margin-top: 20px;
    margin-right: 30px
    
    
}
#mk img.mk2{
    width: 531px;
    height: 632px;
    margin-top: 5px;
    margin-left: 30px
    
    
}
#mk img.mk4{
    float: right;
    width: 530px;
    height: 632px;
    margin-top: 5px;
    margin-right: 30px
    
    
}
#trench{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 40px;
 
 }
 
 
 #trench h2{
     text-align: center;
     font-size: 30px;
     margin-bottom: 30px;
     color: #e06287;
     font-weight: bolder;
     text-transform: uppercase;

 
 
 }

 #trench img.tr1{
    width: 1062px;
height: 643px;
    margin-left: 30px;
    margin-bottom: 10px
    
}
#trench h3{
    font-size: 15;
    color: grey;
    margin-left: 30px;
    margin-bottom: 10px
}
#trench p{
    font-size: 18px;
    line-height: 25px;
    color: dimgrey;
    margin-left: 30px;
    margin-right: 30px;
    text-transform: lowercase;
    
}

#trench img.tr2{
    width: 266px;
    height: 411px;
    margin-top: 20px;
    margin-left: 100px
    
    
}
#trench img.tr3{
    float: right;
    width: 266px;
    height: 411px;
    margin-top: 20px;
    margin-right: 100px
    
    
}
#trench img.tr4{
    width: 266px;
    height: 411px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 40px
    
    
}
#fw{
    margin: 30px 150px;
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 40px;
 
 }
 
 
 #fw h2{
     text-align: center;
     font-size: 30px;
     margin-bottom: 30px;
     color: #e06287;
     font-weight: bolder;
     text-transform: uppercase;

 
 
 }

 #fw img.fw0{
    width: 1114px;
    height: 687px;
    margin-left: 30px;
    margin-bottom: 10px
    
}
#fw h3{
    font-size: 15;
    color: grey;
    margin-left: 30px;
    margin-bottom: 10px
}
#fw p{
    font-size: 18px;
    line-height: 25px;
    color: dimgrey;
    margin-left: 30px;
    
}

#fw img.versace{
    width: 266px;
    height: 511px;
    margin-top: 20px;
    margin-left: 100px
    
    
}
#fw img.fendi{
    float: right;
    width: 266px;
    height: 511px;
    margin-top: 20px;
    margin-right: 100px
    
    
}
#fw img.gucci{
    width: 266px;
    height: 511px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 40px
    
    
}



#lastone{

    
    background-image: url('../images/sfilata.jpg');
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: center;
    padding: 300px;
  

 
   

}
#lastone .text{

    margin-top: -200px;
    background-color:#fcc6dc;
    padding: 80px 30px
   
 
  
    
 
 }
 
 #lastone h2{
         text-align: center; 
         font-size: 40px;
         font-weight: bolder;
         color:  #e06287;
         margin-bottom: 150px
          
     }
 




#lastone h2{
        text-align: center; 
        font-size: 40px;
        font-weight: bolder;
        color:  #e06287;
        margin-bottom: 150px
         
    }

    #lastone p{
        text-align: center; 
        font-size: 25px;
        font-weight: bolder;
        margin-top: 30px; 
        color: dimgrey; 
    }

    #lastone h3{
        text-align: center; 
        font-size: 25px;
        font-weight: bolder;
        color:  #e06287;
        margin-top: 80px;
        margin-bottom: 80px; 
    } 
     
    

    

    
   

   
    
    


    
    



